@keyframes barAnim {
  0% {
    left: 0;
    transform: translateX(-100%);
  }
  100% {
    left: 100%;
    transform: translateX(0%);
  }
}

.bar-active{
  animation: barAnim 3.8s linear infinite;
  background-color: var(--purple-text, #6e6893);
}