.form {
  overflow: hidden;
}

.form__fieldset {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 12px 24px;
  grid-template-areas: 
  "name description"
  "category description"
  "units count"
  "discount price"
  "error file";
  padding: 28px;
  margin: 0 0 32px 0;
  background-color: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 8px;
}

.form__block-name {
  grid-area: name;
}

.form__block-category {
  grid-area: category;
}

.form__block-units {
  grid-area: units;
}

.form__block-discount {
  grid-area: discount;
}

.form__block-error {
  grid-area: error;
  padding-top: 20px;
  color: #D80101;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.4px;
  line-height: 17px;
  text-transform: uppercase;
}

.form__block-description {
  grid-area: description;
}

.form__block-count {
  grid-area: count;
}

.form__block-price {
  grid-area: price;
}

.form__block-file {
  grid-area: file;
  padding: 20px 0 0 0;
}

.form__block-image {
  display: flex;
  justify-content: center;
  grid-column: span 2;
  margin-top: 18px;
}

@keyframes imgLoading {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.35;
  }
  100% {
    opacity: 1;
  }
}

.form__block-image_state_loading {
  animation: imgLoading 2s ease infinite;
  margin: 0 auto;
  padding: 110px 0;
  height: 240px;
  width: 240px;
  background-color: var(--light-purple, #f4f2ff);
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  color: var(--purple-text, #6e6893);
  text-align: center;
}

.form__block-image_state_error {
  margin: 0 auto;
  padding: 98px 20px;
  height: 240px;
  width: 240px;
  background-color: transparent;
  border-radius: 6px;
  border: 1px solid #d9d5ec;
  font-size: 14px;
  line-height: 130%;
  font-weight: 500;
  color: var(--alert-red, #d80101);
  text-align: center;
}

.form__image-wrapper {
  display: inline-block;
  position: relative;
}

.form__image-wrapper::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .0);
  transition: background-color .2s ease;
}

.form__image-wrapper:hover::after{
  background-color: rgba(0, 0, 0, .5);
}

.form__image-delete {
  opacity: 0;
  position: absolute;
  transform: translate(-50%, 50%);
  left: 50%;
  bottom: 50%;
  z-index: 5;
  width: 58px;
  height: 58px;
  border-radius: 29px;
  border:  none;
  background-color: rgba(255, 255, 255, .4);
  color: #fff;
  transition: opacity, background-color, color .2s ease;
}

.form__image-delete:hover {
  background-color: rgba(255, 255, 255, 1);
  color: var(--highlight-purple, #6d5bd0);
}

.form__image-wrapper:hover > .form__image-delete {
  opacity: 1;
}

.form__image {
  max-height: 240px;
  margin: 0 auto;
  display: block;
  line-height: 0;
  padding: 0;
}

.form__label {
  display: block;
  padding: 0 0 0 10px;
  margin: 0 0 5px 0;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.form__input {
  width: 100%;
  padding: 2px 10px 2px 10px;
  line-height: 36px;
  font-size: 16px;
  font-weight: 400;
  color: #333;
  background-color: var(--light-purple, #f4f2ff);
  border: none;
  border-radius: 6px;
}

.form__input:focus {
  outline: 1px solid #5341b5;
}

.form__input[disabled] {
  background-color: #eee;
}

.form__datalist-wrapper {
  position: relative;
}

.form__datalist-wrapper::after {
  content: '';
  display: block;
  position: absolute;
  top: -25px;
  right: 12px;
  width: 12px;
  height: 12px;
  background: url('./img/datalist-arrow.svg') center no-repeat;
  opacity: 0;
}

.form__input[list="category-list"]:hover {
 cursor: pointer;
}

.form__input[list="category-list"]:hover + .form__datalist-wrapper::after,
.form__input[list="category-list"]:focus + .form__datalist-wrapper::after {
 opacity: 1;
}

.form__input[list="category-list"]::-webkit-calendar-picker-indicator {
  display: none !important;
}

.form__input_type_file {
  padding: 0;
  max-height: 39px;
  position: relative;
}

.form__input_type_file::after {
  content: 'Добавить изображение';
  display: block;
  padding: 11px 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  background-color: var(--highlight-purple, #6d5bd0);
  cursor: pointer;
  transition: background-color .2s ease;
}

.form__input_type_file:hover::after {
  background-color: #5341b5;
}

.form__input_type_file:hover::after {
  background-color: #5341b5;
}

.form__input_type_file:focus::after {
  background-color: #5341b5;
  outline: none;
}

.form__input_type_file:active::after {
  background-color: #4433a0;
}

.form__checkbox-container {
  padding: 0 0 0 50px;
  position: relative;
}

.form__checkbox {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-left: -50px;
  cursor: pointer;
}

.form__checkbox:focus {
  outline: none;
}

.form__checkbox:focus:before {
  outline: 1px solid #5341b5;
}

.form__checkbox:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 40px;
  height: 40px;
  background-color: var(--light-purple, #f4f2ff);
  border-radius: 6px;
}

.form__checkbox:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 30px;
  height: 30px;
  background: url('../form/img/check.svg');
  opacity: 0;
}

.form__checkbox:checked:after{
  opacity: 1;
}

.form__input_type_textarea {
  padding: 11px 10px 11px 10px;
  line-height: 18px;
  resize: none;
}

.form__input_type_textarea:focus {
  outline: 1px solid #5341b5;
}

.form__button {
  float: right;
  padding: 10px 25px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #fff;
  background: var(--highlight-purple, #6d5bd0);
  border: none;
  border-radius: 6px;
  transition: background .2s ease;
}

.form__button:hover {
  background: #5341b5;
}

.form__button:focus {
  background: #5341b5;
  outline: none;
}

.form__button:active {
  background: #4433a0;
}

.form__alert-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, 0.7);
  z-index: 50;
}

.form__alert {
  padding: 30px 30px 34px 30px;
  position: absolute;
  top: 48px;
  left: 50%;
  transform: translate(-50%, 0px);
  max-width: 436px;
  border: none;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
}

.form__alert-btn {
  padding-bottom: 0px;
  padding-bottom: 5px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background: transparent;
  border: none;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  position: relative;
}

.form__alert-btn::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  transition: width .2s ease;
}

.form__alert-btn:hover::after {
  width: 100%;
}

.form__alert-btn_type_cancel {
  color: var(--highlight-purple, #6d5bd0);
}

.form__alert-btn_type_cancel::after {
  background-color: var(--highlight-purple, #6d5bd0);
}

.form__alert-btn_type_delete {
  margin: 0 30px 0 0;
  color: var(--alert-red, #d80101);
}

.form__alert-btn_type_delete::after {
  background-color: var(--alert-red, #d80101);
}

.form__alert-text {
  margin: 0 0 30px 0;
}

.form__alert-text_style_normal {
  line-height: 1.35;
}

.form__alert-text_style_accent {
  color: var(--highlight-purple, #6d5bd0);
  font-weight: 600;
}


@media (max-width:750px) {
  .form__fieldset {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, 1fr);
    gap: 12px;
    grid-template-areas: 
    "name"
    "category"
    "units"
    "discount"
    "description"
    "description"
    "count"
    "price"
    "file";
  }

  .form__button {
  float: unset;
  width: 100%;
  }
}