.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  max-width: 792px;
  padding: 32px 106px 28px 106px;
  margin: 48px auto auto auto;
  font-family: Inter, Arial, sans-serif;
  font-size: 0;
  letter-spacing: 0;
  line-height: 0;
  color: var(--purple-text, #6e6893);
  background-color: #f2f0f9;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 55;
}

.modal__block-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 21px 0;
  margin: 0 0 21px 0;
  border-bottom: 1px solid #c6c2de;
  text-transform: uppercase;
}

.modal__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.1em;
}

.modal__id {
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  color: #C5C5C5;
}

.modal__block-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 28px;
}

.modal__total-price {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: var(--purple-text, #6e6893);
}

.modal__total-price_content_value {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: var(--highlight-purple, #6d5bd0);
}

.form-message {
  display: none;
  overflow: hidden;
}

.form-message_active {
  display: block;
  overflow: visible;
  margin: 180px auto 0 auto;
  width: 350px;
  height: 350px;
  padding: 80px 20px 30px 20px;
  font-family: Inter, Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1.8px;
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;
  color: var(--purple-text, #6e6893);
  background-color: #f2f0f9;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 75;
}

.form-message__icon {
  margin: 0 auto 40px auto;
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 50%;
  border-width: 1px;
  border-style: solid;
}

.modal__close {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 20px;
  right: 30px;
  color: #6e6893;
  line-height: 0;
  border: none;
  outline-offset: 2px;
  outline: 1px solid transparent;
}

.modal__close:hover > svg path {
  stroke: #5341b5;
}

.modal__close:focus-visible > svg path {
  stroke: #5341b5;
}

.modal__close:focus-visible {
  outline: 1px solid #5341b5;
}

.modal__close:active > svg path {
  color: #4433a0;
}

.form-message__close {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 26px;
  right: 29px;
  color: #6e6893;
  line-height: 0;
  border: none;
  outline-offset: 2px;
  outline: 1px solid transparent;
}

.form-message__close:hover > svg path {
  stroke: #5341b5;
}

.form-message__close:focus-visible > svg path {
  stroke: #5341b5;
}

.form-message__close:focus-visible {
  outline: 1px solid #5341b5;
}

.form-message__close:active > svg path {
  color: #4433a0;
}


@media (max-width:750px) {
  .modal{
    margin: 0 auto auto auto;
    min-width: 100%;
  }

  .modal__block-bottom {
    flex-direction: column;
    align-items: center;
  }

  .modal__total-price {
    margin: 0 0 16px 0;
  }

  .form-message_active {
    margin: 130px auto 0 auto;
  }
}

@media (max-width:600px) {
  .modal {
    padding: 32px 20px 28px 20px;
  }

  .modal__block-top {
    flex-direction: column;
    align-items: flex-start;
  }

  .modal__title {
    margin: 0 0 10px 0;;
  }

  .form-message_active {
    margin: 110px auto 0 auto;
  }
}

@media (max-width:450px) {
  .modal {
    padding: 64px 20px 28px 20px;
  }

  .modal__block-top {
    align-items: center;
  }

  .modal__close {
    right: 50%;
    transform: translate(50%, 0px);
  }

  .form-message_active {
    margin: 100px auto 0 auto;
    width: 300px;
    height: 300px;
    padding: 65px 10px 15px 10px;
    font-size: 14px;
  }

  .form-message__icon {
    margin: 0 auto 30px auto;
  }
}